<div class="easyui-panel" data-options="fit:true,title:'后台首页',border:false,onResize:function(){$('#index-main-portal').portal({border:false,fit:true});}">
	<div id="index-main-portal">
		<div style="width:60%">
			<div title="我的个人信息" collapsible="true" style="padding:8px;line-height:1.5;height: 210px;font-size:18px">
				您好，<{$userInfo.username}><br />
				所属角色：<{$userInfo.position}> <br />
				所属地区：<{$userInfo.areaname}> <br />
				最后登录时间：<if condition="$userInfo['lastlogintime'] gt 0"><{$userInfo.lastlogintime|date='Y-m-d H:i:s',###}></if><br />
				最后登录IP：<{$userInfo.lastloginip}> <br />
				<?php if($userInfo['position'] == '超级管理员'){ ?>
					合同总额兑换积分比例：<input type="number" id="rate" value="<{$setting.rate}>" style="width:40px" /> : 1
				<?php } ?>
				<script>
					$('#rate').blur(function(){
						$.post('<{:U('Index/changeRate')}>', {rate: $(this).val()}, function(res){
							if(!res.status){
								$.app.method.tip('提示信息', res.info, 'error');
								$('#rate').val('<{$setting.rate}>');
							}else{
								$.app.method.tip('提示信息', res.info, 'info');
							}
						})
					})
				</script>
			</div>

			<div title="未读消息" collapsible="true" style="padding:8px;line-height:1.8">
				<if condition="$unread gt 0">
					你有<{$unread}>条未读消息，<a href="javascript:" id="openMessage">点击查看</a>
				<else />
					暂无未读消息
				</if>
			</div>
			<?php if($userInfo['password'] == md5(md5('123456').$userInfo['encrypt'])){ ?>
			<div title="提示" collapsible="true" style="padding:8px;line-height:1.8">
				<p style="color:red;font-size:20px;margin:0">您的密码为初始密码，请修改</p>
			</div>
			<?php } ?>
			<div title="满期客户" collapsible="true" style="padding:8px;line-height:1.8">
				本周满期: <{$contract_week_count}>笔，共<{$contract_week_money}>元，<a href="javascript:" id="contract-finish-week">查看详情</a><br>
				下周满期: <{$contract_next_week_count}>笔，共<{$contract_next_week_money}>元，<a href="javascript:" id="contract-finish-next-week">查看详情</a><br>
				本月满期: <{$contract_month_count}>笔，共<{$contract_month_money}>元，<a href="javascript:" id="contract-finish-month">查看详情</a>
			</div>
			<script>
				$('#contract-finish-week').click(function(){
					$('#pagetabs').tabs('add',{title: '合同列表', href: '<{:U('Contract/contractlist')}>?menuid=83&week=1', closable: true});
				});
				$('#contract-finish-next-week').click(function(){
					$('#pagetabs').tabs('add',{title: '合同列表', href: '<{:U('Contract/contractlist')}>?menuid=83&nextweek=1', closable: true});
				});
				$('#contract-finish-month').click(function(){
					$('#pagetabs').tabs('add',{title: '合同列表', href: '<{:U('Contract/contractlist')}>?menuid=83&month=1', closable: true});
				});
			</script>
			<?php if($userInfo['position'] == '财务'){ ?>
				<div title="应付客户" collapsible="true" style="padding:8px;line-height:1.8">
					本周应付: <{$contract_pay_week_count}>笔，共<{$contract_pay_week_money}>元，<a href="javascript:" id="contract-pay-week">查看详情</a><br>
					下周应付: <{$contract_pay_next_week_count}>笔，共<{$contract_pay_next_week_money}>元，<a href="javascript:" id="contract-pay-next-week">查看详情</a><br>
					本月应付: <{$contract_pay_month_count}>笔，共<{$contract_pay_month_money}>元，<a href="javascript:" id="contract-pay-month">查看详情</a>
				</div>
				<script>
				$('#contract-pay-week').click(function(){
					$('#pagetabs').tabs('add',{title: '合同列表', href: '<{:U('Contract/contractlist')}>?menuid=83&week=1&pay=1', closable: true});
				});
				$('#contract-pay-next-week').click(function(){
					$('#pagetabs').tabs('add',{title: '合同列表', href: '<{:U('Contract/contractlist')}>?menuid=83&nextweek=1&pay=1', closable: true});
				});
				$('#contract-pay-month').click(function(){
					$('#pagetabs').tabs('add',{title: '合同列表', href: '<{:U('Contract/contractlist')}>?menuid=83&month=1&pay=1', closable: true});
				});
			</script>
			<?php } ?>
		</div>
		<div style="width:40%">
			<div title="日历" collapsible="true" style="padding:8px;line-height:1.8;text-align:center;height:300px;">
				<div id="cc" class="easyui-calendar" style="width:90%;height:90%;margin:10px auto;"></div>
			</div>
			<div title="天气" collapsible="true" style="padding:8px;line-height:1.8;height:200px;">
				<iframe width="500px" style="margin:10px auto;" scrolling="no" height="70" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=2&icon=1&num=3"></iframe>
			</div>
		</div>
		<script>
		$('#openMessage').click(function(){
			if($('#pagetabs').tabs('exists', '站内消息')){
				$('#pagetabs').tabs('select', '站内消息');
			}else{
				$('#pagetabs').tabs('add',{title: '站内消息', href: '<{:U('Message/messageList')}>?menuid=84', closable: true});
			}
		})
		</script>
	</div>
</div>