<form>
	<table cellspacing="6" width="100%">
		<tr>
			<td width="90">工号：</td>
			<td><input class="easyui-validatebox" type="text" name="info[username]" data-options="required:true,validType:['length[2,20]','remote[\'<{:U('Admin/public_checkName')}>\',\'name\']']" style="width:200px" /></td>
		</tr>
		<tr>
			<td>密码：</td>
			<td>123456</td>
		</tr>
		<tr>
			<td>真实姓名：</td>
			<td><input class="easyui-validatebox" type="text" name="info[realname]" data-options="required:true,validType:{length:[2,20]}" style="width:200px" /></td>
		</tr>
		<tr>
			<td>入职时间：</td>
			<td><input class="easyui-datebox" type="text" name="info[join_time]" data-options="required:true" style="width:200px" /></td>
		</tr>
		<tr>
			<td>离职时间：</td>
			<td><input class="easyui-datebox" type="text" name="info[left_time]" style="width:200px" /></td>
		</tr>
		<tr>
			<td>地区：</td>
			<td><input class="easyui-combotree" data-options="url:'<{:U('Admin/public_areaSelectTree')}>'" name="info[area]" style="width:200px"/></td>
		</tr>
		<tr>
			<td>职位：</td>
			<td>
				<select class="easyui-combobox" data-options="required:true" name="info[position]" style="width:200px;">
					<option value="超级管理员">超级管理员</option>
					<option value="总经理">总经理</option>
					<option value="副总经理">副总经理</option>
					<option value="财务">财务</option>
					<option value="主管">主管</option>
					<option value="区域经理">区域经理</option>
					<option value="支公司经理">支公司经理</option>
					<option value="总监">总监</option>
					<option value="团队经理">团队经理</option>
					<option value="理财顾问">理财顾问</option>
					<option value="员工">员工</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>状态：</td>
			<td>
				<select class="easyui-combobox" data-options="editable:false,panelHeight:'auto'" name="info[job]" style="width:200px;">
					<foreach name="jobList" item="job">
						<option value="<{$job.id}>"><{$job.name}></option>
					</foreach>
				</select>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">业务目标：</td>
			<td>
				<input type="text" class="easyui-numberbox" name="info[target]" style="width:200px;">万元
				<br>
				(留空则根据状态获取)
			</td>
		</tr>
		<tr>
			<td>权限：</td>
			<td>
				<select class="easyui-combobox" data-options="editable:false,panelHeight:'auto'" name="info[permission]" style="width:200px;">
					<option value="1">可查看所在区域全部员工</option>
					<option value="2">只能查看自己信息</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>E-mail：</td>
			<td><input class="easyui-validatebox" type="text" name="info[email]" style="width:200px" /></td>
		</tr>
		<tr>
			<td>电话：</td>
			<td><input class="easyui-validatebox" type="text" name="info[tel]" data-options="required:true" style="width:200px" /></td>
		</tr>
		<tr>
			<td>备注：</td>
			<td>
				<textarea class="easyui-validatebox" name="info[remark]" style="width:200px"></textarea>
			</td>
		</tr>
	</table>
</form>