<taglib name="Admin\TagLib\EasyUI" />

<easyui:datagrid options="datagrid.options" fields="datagrid.fields" />

<div id="admin-memberlist-datagrid-toolbar" style="padding:1px;height:auto">
	<if condition="$admin.permission eq 1">
	<form style="border-bottom:1px solid #ddd;margin-bottom:1px;padding:5px">
		姓名:
		<input type="text" name="search[realname]" style="width:100px;padding:2px"/>
		地区:
		<input class="easyui-combotree" data-options="url:'<{:U('Admin/public_areaSelectTree')}>'" name="search[area]" style="width:200px;"/>

		<a href="javascript:;" onclick="adminMemberModule.search(this)" class="easyui-linkbutton" iconCls="icons-table-table">搜索</a>
	</form>
	</if>
	<div>
		<if condition="$admin.position eq '超级管理员'">
		<a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-table-table_add'" onclick="adminMemberModule.add()">添加合同</a>
		</if>
		<a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-table-table_refresh'" onclick="adminMemberModule.refresh()">刷新</a>
	</div>
</div>

<script type="text/javascript">
var adminMemberModule = {
	dialog:   '#globel-dialog-div',
	datagrid: '#admin_memberlist_datagrid',
	
	
	//时间字段格式化
	time: function(val){
		return val != '1970-01-01 08:00:00' ? val : '';
	},

	target: function(val){
		return val + '万元';
	},
	
	//操作字段格式化
	operate: function(val){
		var btn = [];
		btn.push('<a href="javascript:;" onclick="adminMemberModule.detail('+val+')">员工详情</a>');
		<if condition="$admin.position eq '超级管理员'">
		btn.push('<a href="javascript:;" onclick="adminMemberModule.edit('+val+')">编辑员工</a>');
		btn.push('<a href="javascript:;" onclick="adminMemberModule.password('+val+')">重置密码</a>');
		btn.push('<a href="javascript:;" onclick="adminMemberModule.delete('+val+')">删除</a>');
		</if>
		return btn.join(' | ');
	},
	
	//刷新列表
	refresh: function(){
		$(this.datagrid).datagrid('reload');
	},

	detail: function(id){
		if(typeof(id) !== 'number'){
			$.app.method.tip('提示信息', '未选择员工', 'error');
			return false;
		}
		var href = '<{:U('Admin/memberDetail')}>';
		href += href.indexOf('?') != -1 ? '&id='+id : '?id='+id;
		var that = this;
		$(that.dialog).dialog({
			title: '员工详情',
			iconCls: 'icons-application-application_edit',
			width: 500,
			height: 360,
			cache: false,
			href: href,
			modal: true,
			collapsible: false,
			minimizable: false,
			resizable: false,
			maximizable: false,
			buttons:[{
				text:'确定',
				iconCls:'icons-arrow-cross',
				handler: function(){
					$(that.dialog).dialog('close');
				}
			}]
		});
	},
	
	<if condition="$admin.position eq '超级管理员'">
	//添加员工
	add: function(){
		var that = this;
		$(that.dialog).dialog({
			title: '添加员工',
			iconCls: 'icons-application-application_add',
			width: 370,
			height: 460,
			cache: false,
			href: '<{:U('Admin/memberAdd')}>',
			modal: true,
			collapsible: false,
			minimizable: false,
			resizable: false,
			maximizable: false,
			buttons:[{
				text:'确定',
				iconCls:'icons-other-tick',
				handler: function(){
					$(that.dialog).find('form').eq(0).form('submit', {
						onSubmit: function(){
							var isValid = $(this).form('validate');
							if (!isValid) return false;
							
							$.messager.progress({text:'处理中，请稍候...'});
							$.post('<{:U('Admin/memberAdd?dosubmit=1')}>', $(this).serialize(), function(res){
								$.messager.progress('close');
								if(!res.status){
									$.app.method.tip('提示信息', res.info, 'error');
								}else{
									$.app.method.tip('提示信息', res.info, 'info');
									$(that.dialog).dialog('close');
									that.refresh();
								}
							}, 'json');
							
							return false;
						}
					});
				}
			},{
				text:'取消',
				iconCls:'icons-arrow-cross',
				handler: function(){
					$(that.dialog).dialog('close');
				}
			}]
		});
	},

	//编辑员工
	edit: function(id){
		if(typeof(id) !== 'number'){
			$.app.method.tip('提示信息', '未选择员工', 'error');
			return false;
		}
		var href = '<{:U('Admin/memberEdit')}>';
		href += href.indexOf('?') != -1 ? '&id='+id : '?id='+id;

		var that = this;
		$(that.dialog).dialog({
			title: '编辑员工',
			iconCls: 'icons-application-application_edit',
			width: 370,
			height: 460,
			cache: false,
			href: href,
			modal: true,
			collapsible: false,
			minimizable: false,
			resizable: false,
			maximizable: false,
			buttons:[{
				text:'确定',
				iconCls:'icons-other-tick',
				handler:function(){
					$(that.dialog).find('form').eq(0).form('submit', {
						onSubmit: function(){
							var isValid = $(this).form('validate');
							if (!isValid) return false;
							
							$.messager.progress({text:'处理中，请稍候...'});
							var action = '<{:U('Admin/memberEdit', array('dosubmit'=>1))}>';
							action += action.indexOf('?') != -1 ? '&id='+id : '?id='+id;
							$.post(action, $(this).serialize(), function(res){
								$.messager.progress('close');
								if(!res.status){
									$.app.method.tip('提示信息', res.info, 'error');
								}else{
									$.app.method.tip('提示信息', res.info, 'info');
									$(that.dialog).dialog('close');
									that.refresh();
								}
							}, 'json');
							
							return false;
						}
					});
				}
			},{
				text: '取消',
				iconCls: 'icons-arrow-cross',
				handler: function(){
					$(that.dialog).dialog('close');
				}
			}]
		});
	},
	
	//删除员工
	delete: function(id){
		if(typeof(id) !== 'number'){
			$.app.method.tip('提示信息', '未选择员工', 'error');
			return false;
		}
		
		var that = this;
		$.messager.confirm('提示信息', '确定要删除吗？', function(result){
			if(!result) return false;
			
			$.messager.progress({text:'处理中，请稍候...'});
			$.post('<{:U('Admin/memberDelete')}>', {id: id}, function(res){
				$.messager.progress('close');
				
				if(!res.status){
					$.app.method.tip('提示信息', res.info, 'error');
				}else{
					$.app.method.tip('提示信息', res.info, 'info');
					that.refresh();
				}
			}, 'json');
		});
	},
	
	//重置密码
	password: function(id){
		if(typeof(id) !== 'number'){
			$.app.method.tip('提示信息', '未选择员工', 'error');
			return false;
		}
		
		var that = this;
		$.messager.confirm('提示信息', '确定要重置密码吗？', function(result){
			if(!result) return false;
			
			$.messager.progress({text:'处理中，请稍候...'});
			$.post('<{:U('Admin/memberResetPassword')}>', {id: id}, function(res){
				$.messager.progress('close');
				
				if(!res.status){
					$.app.method.tip('提示信息', res.info, 'error');
				}else{
					$.app.method.tip('提示信息', res.info, 'info');
					$.messager.alert('提示信息', '密码已重置为：' + res.password + '，请牢记新密码！', 'info');
				}
			}, 'json');
		});
	},
	</if>

	//搜索
	search: function(that){
		var queryParams = $(this.datagrid).datagrid('options').queryParams;
		$.each($(that).parent('form').serializeArray(), function() {
			queryParams[this['name']] = this['value'];
		});
		$(this.datagrid).datagrid({pageNumber: 1});
	}
}
</script>