<script>
	<?php 
	$selects = array('position', 'job', 'permission');
	for($i = 0; $i < count($selects); $i++){ ?>
		$('#<?php echo $selects[$i]; ?> option').each(function(){
			if($(this).val() == '<?php echo $info[$selects[$i]]; ?>'){
				$(this).prop('selected', 'selected');
			}
		})
	<?php } ?>
</script>
<form>
	<table cellspacing="6" width="100%">
		<tr>
			<td width="90">工号：</td>
			<td><input class="easyui-validatebox" type="text" value="<{$info.username}>" readonly style="width:200px" /></td>
		</tr>
		<tr>
			<td>真实姓名：</td>
			<td><input class="easyui-validatebox" type="text" name="info[realname]" value="<{$info.realname}>" data-options="required:true,validType:{length:[2,20]}" style="width:200px" /></td>
		</tr>
		<tr>
			<td>入职时间：</td>
			<td><input class="easyui-datebox" type="text" name="info[join_time]" value="<{$info.join_time}>" data-options="required:true,validType:{length:[2,20]}" style="width:200px" /></td>
		</tr>
		<tr>
			<td>地区：</td>
			<td><input class="easyui-combotree" value="<{$info.area}>" data-options="url:'<{:U('Admin/public_areaSelectTree')}>'" name="info[area]" style="width:200px"/></td>
		</tr>
		<tr>
			<td>职位：</td>
			<td>
				<select class="easyui-combobox" id="position" data-options="required:true" name="info[position]" style="width:200px;">
					<option value="超级管理员">超级管理员</option>
					<option value="总经理">总经理</option>
					<option value="副总经理">副总经理</option>
					<option value="财务">财务</option>
					<option value="业务发展经理">业务发展经理</option>
					<option value="区域经理">区域经理</option>
					<option value="总监">总监</option>
					<option value="营业部经理">营业部经理</option>
					<option value="理财顾问">理财顾问</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>状态：</td>
			<td>
				<select class="easyui-combobox" data-options="editable:false,panelHeight:'auto'" name="info[job]" id="job" style="width:200px;">
					<foreach name="jobList" item="job">
						<option value="<{$job.id}>"><{$job.name}></option>
					</foreach>
				</select>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">业务目标：</td>
			<td>
				<input type="text" class="easyui-numberbox" name="info[target]" value="<{$info[target] / 10000}>" style="width:200px;">万元
				<br>
				(留空则根据状态获取)
			</td>
		</tr>
		<tr>
			<td>权限：</td>
			<td>
				<select class="easyui-combobox" data-options="required:true" name="info[permission]" style="width:200px;" id="permission">
					<option value="1">可查看所在区域全部员工</option>
					<option value="2">只能查看自己信息</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>E-mail：</td>
			<td><input class="easyui-validatebox" type="text" name="info[email]" value="<{$info.email}>" style="width:200px" /></td>
		</tr>
		<tr>
			<td>电话：</td>
			<td><input class="easyui-validatebox" type="text" name="info[tel]" value="<{$info.tel}>" data-options="required:true" style="width:200px" /></td>
		</tr>
		<tr>
			<td>备注：</td>
			<td>
				<textarea class="easyui-validatebox" name="info[remark]" style="width:200px"><{$info.remark}></textarea>
			</td>
		</tr>
	</table>
</form>
