<taglib name="Admin\TagLib\EasyUI" />
<script>
	(function($){  
        $.fn.serializeJson=function(){  
            var serializeObj={};  
            $(this.serializeArray()).each(function(){  
                serializeObj[this.name]=this.value;  
            });  
            return serializeObj;  
        };  
    })(jQuery);
</script>
<script type="text/javascript" src="__PUBLIC__/static/js/echarts.js"></script>
<form style="border-bottom:1px solid #ddd;margin-bottom:1px;padding:5px" id="statistic-form">
    时间:
    <input name="begin" class="easyui-datebox" style="width:100px" data-options="required:true"> 至:
    <input name="end" class="easyui-datebox" style="width:100px" data-options="required:true"> 地区:
    <input class="easyui-combotree" data-options="url:'<{:U('Admin/public_areaSelectTree')}>'" name="area" style="width:200px;" />
    <button type="submit" class="easyui-linkbutton" iconCls="icons-table-table">统计</button>
</form>
<style>
.statistic {
    width: 42%;
    margin: 0 15px;
    height: 500px;
    float: left;
}
#statistic-bar{
	width: 100%;
}
</style>
<div id="statistic-pie-count" class="statistic">
</div>
<div id="statistic-pie-money" class="statistic">
</div>
<div id="statistic-bar" class="statistic">
</div>
<script>
require.config({
    paths: {
        echarts: '__PUBLIC__/static/js'
    }
});
require(
    [
        'echarts',
        'echarts/chart/pie',
        'echarts/chart/bar'
    ],
    function(ec) {
        var statisticPieCount = ec.init(document.getElementById('statistic-pie-count'));
        var statisticPieMoney = ec.init(document.getElementById('statistic-pie-money'));
        var statisticBar = ec.init(document.getElementById('statistic-bar'));

        $('#statistic-form').submit(function(e){
        	e.preventDefault();
        	var params = $('#statistic-form').serializeJson();
        	console.log(params);
        	if(params['begin'] == '' || params['end'] == ''){
        		$.app.method.tip('提示信息', '请选择时间', 'error');
        		return;
        	}
        	if(new Date(params['begin']) > new Date(params['end'])){
        		$.app.method.tip('提示信息', '开始时间不能晚于结束时间', 'error');
        		return;
        	}
        	params['area'] = params['area'] || 0;
        	$.post('<{:U('Contract/contractStatistics')}>', params, function(res){
	            var optionPieCount = {
	                title: {
	                    text: res.area + '地区合同数量分布',
	                    x: 'center'
	                },
	                tooltip: {
	                    trigger: 'item',
	                    formatter: "{a} <br/>{b} : {c} ({d}%)"
	                },
	                legend: {
	                    orient: 'vertical',
	                    x: 'left',
	                    data: res.areas
	                },
	                toolbox: {
	                    show: true,
	                    feature: {
	                        saveAsImage: {
	                            show: true
	                        }
	                    }
	                },
	                calculable: true,
	                series: [{
	                    name: '合同来源',
	                    type: 'pie',
	                    radius: '55%',
	                    center: ['50%', '60%'],
	                    data: res.pie.countData
	                }]
	            };
	            var optionPieMoney = {
	                title: {
	                    text: res.area + '地区合同金额分布',
	                    x: 'center'
	                },
	                tooltip: {
	                    trigger: 'item',
	                    formatter: "{a} <br/>{b} : {c} ({d}%)"
	                },
	                legend: {
	                    orient: 'vertical',
	                    x: 'left',
	                    data: res.areas
	                },
	                toolbox: {
	                    show: true,
	                    feature: {
	                        saveAsImage: {
	                            show: true
	                        }
	                    }
	                },
	                calculable: true,
	                series: [{
	                    name: '合同来源',
	                    type: 'pie',
	                    radius: '55%',
	                    center: ['50%', '60%'],
	                    data: res.pie.moneyData
	                }]
	            };
	            var optionBar = {
	                title: {
	                    text: res.area + '地区合同时间柱状图',
	                },
	                tooltip: {
	                    trigger: 'axis'
	                },
	                legend: {
	                    data: ['合同数量', '合同金额']
	                },
	                toolbox: {
	                    show: true,
	                    feature: {
	                        saveAsImage: {
	                            show: true
	                        }
	                    }
	                },
	                xAxis: [{
	                    type: 'category',
	                    data: res.bar.months
	                }],
	                yAxis: [{
	                		name: '合同数量',
	                    	type: 'value'
		                }, {
	                		name: '合同金额',
		                    type: 'value'
		                }],
	                series: [{
	                    name: '合同数量',
	                    type: 'bar',
	                    yAxisIndex: 0,
	                    data: res.bar.count,
	                }, {
	                    name: '合同金额',
	                    type: 'bar',
	                    yAxisIndex: 1,
	                    data: res.bar.money,
	                }]
	            };
	            console.log(res.bar);
	            statisticPieCount.setOption(optionPieCount);
	            statisticPieMoney.setOption(optionPieMoney);
	            statisticBar.setOption(optionBar);
            })
        });

    }
);
</script>