<taglib name="Admin\TagLib\EasyUI" />
<script type="text/javascript" src="__PUBLIC__/static/js/ajaxFileUpload.js"></script>
<script>
	(function($){  
        $.fn.serializeJson=function(){  
            var serializeObj={};  
            $(this.serializeArray()).each(function(){  
                serializeObj[this.name]=this.value;  
            });  
            return serializeObj;  
        };  
    })(jQuery);
</script>
<easyui:datagrid options="datagrid.options" fields="datagrid.fields" />

<div id="contract-contractlist-datagrid-toolbar" style="padding:1px;height:auto">
	<form style="border-bottom:1px solid #ddd;margin-bottom:1px;padding:5px">
		投入时间: <input name="search[begin]" class="easyui-datebox" style="width:100px">
		至: <input name="search[end]" class="easyui-datebox" style="width:100px">
		客户名:
		<input type="text" name="search[name]" style="width:100px;padding:2px"/>
		电话:
		<input type="text" name="search[tel]" style="width:100px;padding:2px"/>

		<a href="javascript:;" onclick="contractContractModule.search(this)" class="easyui-linkbutton" iconCls="icons-table-table">搜索</a>
	</form>
	<div>
		<if condition="$admin.position eq '财务'">
			<a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-table-table_add'" onclick="contractContractModule.add()">添加合同</a>
		</if>
		<a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-table-table_refresh'" onclick="contractContractModule.refresh()">刷新</a>
	</div>
</div>

<script type="text/javascript">
var contractContractModule = {
	dialog:   '#globel-dialog-div',
	datagrid: '#contract_contractlist_datagrid',

	
	//操作格式化
	operate: function(val){
		var btn = [];
		btn.push('<a href="javascript:;" onclick="contractContractModule.detail('+val+')">详情</a>');
		<if condition="$admin.position eq '财务'">
		btn.push('<a href="javascript:;" onclick="contractContractModule.edit('+val+')">编辑</a>');
		btn.push('<a href="javascript:;" onclick="contractContractModule.delete('+val+')">删除</a>');
		</if>
		return btn.join(' | ');
	},
	
	//刷新
	refresh: function(){
		$(this.datagrid).datagrid('reload');
	},

	//搜索
	search: function(that){
		var queryParams = $(this.datagrid).datagrid('options').queryParams;
		$.each($(that).parent('form').serializeArray(), function() {
			queryParams[this['name']] = this['value'];
		});
		$(this.datagrid).datagrid({pageNumber: 1});
	},
	
	<if condition="$admin.position eq '财务'">
	//添加
	add: function(){
		var that = this;
		$(that.dialog).dialog({
			title: '添加合同',
			iconCls: 'icons-application-application_add',
			width: 600,
			height: 520,
			cache: false,
			href: '<{:U('Contract/contractAdd')}>',
			modal: true,
			collapsible: false,
			minimizable: false,
			resizable: false,
			maximizable: false,
			buttons:[{
				text:'确定',
				iconCls:'icons-other-tick',
				handler: function(){
					$(that.dialog).find('form').eq(0).form('submit', {
						onSubmit: function(){
							var isValid = $(this).form('validate');
							if (!isValid) return false;
							$.messager.progress({text:'处理中，请稍候...'});
							$.ajaxFileUpload({
								url : '<{:U('Contract/contractAdd?dosubmit=1')}>', //你处理上传文件的服务端
								secureuri : false,
								fileElementId : ['idcard', 'bankcard', 'contract_file'],
								dataType : 'jsonp',
								data : $(this).serializeJson(),
								success : function(data, status){
									$.messager.progress('close');
									data = JSON.parse(data);
									$.app.method.tip('提示信息', data.info, 'info');
									$(that.dialog).dialog('close');
									that.refresh();
								},
								error: function(data, status){
									$.messager.progress('close');
									$.app.method.tip('提示信息', '添加失败', 'error');
									return;
								}
							});
							return false;
						}
					});
				}
			},{
				text:'取消',
				iconCls:'icons-arrow-cross',
				handler: function(){
					$(that.dialog).dialog('close');
				}
			}]
		});
	},
	</if>

	//详情
	detail: function(id){
		if(typeof(id) !== 'number'){
			$.app.method.tip('提示信息', '未选择合同', 'error');
			return false;
		}
		var href = '<{:U('Contract/contractDetail')}>';
		href += href.indexOf('?') != -1 ? '&id='+id : '?id='+id;
		var that = this;
		$(that.dialog).dialog({
			title: '合同详情',
			iconCls: 'icons-application-application_edit',
			width: 700,
			height: 620,
			cache: false,
			href: href,
			modal: true,
			collapsible: false,
			minimizable: false,
			resizable: false,
			maximizable: false,
			buttons:[{
				text:'确定',
				iconCls:'icons-arrow-cross',
				handler: function(){
					$(that.dialog).dialog('close');
				}
			}]
		});
	},
	

	<if condition="$admin.position eq '财务'">
	//编辑
	edit: function(id){
		if(typeof(id) !== 'number'){
			$.app.method.tip('提示信息', '未选择合同', 'error');
			return false;
		}
		var href = '<{:U('Contract/contractEdit')}>';
		href += href.indexOf('?') != -1 ? '&id='+id : '?id='+id;
		var that = this;
		$(that.dialog).dialog({
			title: '编辑合同',
			iconCls: 'icons-application-application_edit',
			width: 600,
			height: 520,
			cache: false,
			href: href,
			modal: true,
			collapsible: false,
			minimizable: false,
			resizable: false,
			maximizable: false,
			buttons:[{
				text:'确定',
				iconCls:'icons-other-tick',
				handler: function(){
					$(that.dialog).find('form').eq(0).form('submit', {
						onSubmit: function(){
							var isValid = $(this).form('validate');
							if (!isValid) return false;
							
							var action = '<{:U('Contract/contractEdit?dosubmit=1')}>';
							action += action.indexOf('?') != -1 ? '&id='+id : '?id='+id;
							
							$.messager.progress({text:'处理中，请稍候...'});
							$.ajaxFileUpload({
								url : action, //你处理上传文件的服务端
								secureuri : false,
								fileElementId : ['idcard', 'bankcard', 'contract_file'],
								dataType : 'jsonp',
								data : $(this).serializeJson(),
								success : function(data, status){
									$.messager.progress('close');
									console.log(data);
									data = JSON.parse(data);
									$.app.method.tip('提示信息', data.info, 'info');
									$(that.dialog).dialog('close');
									that.refresh();
								},
								error: function(data, status){
									$.messager.progress('close');
									$.app.method.tip('提示信息', '修改失败', 'error');
									return;
								}
							});
							
							return false;
						}
					});
				}
			},{
				text:'取消',
				iconCls:'icons-arrow-cross',
				handler: function(){
					$(that.dialog).dialog('close');
				}
			}]
		});
	},
	
	//删除
	delete: function(id){
		if(typeof(id) !== 'number'){
			$.app.method.tip('提示信息', '未选择客户', 'error');
			return false;
		}
		var that = this;
		$.messager.confirm('提示信息', '确定要删除吗？', function(result){
			if(!result) return false;
			
			$.messager.progress({text:'处理中，请稍候...'});
			$.post('<{:U('Member/memberDelete')}>', {id: id}, function(res){
				$.messager.progress('close');
				
				if(!res.status){
					$.app.method.tip('提示信息', res.info, 'error');
				}else{
					$.app.method.tip('提示信息', res.info, 'info');
					that.refresh();
				}
			}, 'json');
		});
	},
	</if>
	
};
</script>