<taglib name="Admin\TagLib\EasyUI" />
<script>
	(function($){  
        $.fn.serializeJson=function(){  
            var serializeObj={};  
            $(this.serializeArray()).each(function(){  
                serializeObj[this.name]=this.value;  
            });  
            return serializeObj;  
        };  
    })(jQuery);
</script>
<easyui:datagrid options="datagrid.options" fields="datagrid.fields" />

<div id="message-messagelist-datagrid-toolbar" style="padding:1px;height:auto">
	<div>
		<a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-table-table_refresh'" onclick="messageMessageModule.refresh()">刷新</a>
	</div>
</div>

<script type="text/javascript">
var messageMessageModule = {
	dialog:   '#globel-dialog-div',
	datagrid: '#message_messagelist_datagrid',

	
	//刷新
	refresh: function(){
		$(this.datagrid).datagrid('reload');
	},

	//操作
	operate: function(val, row){
		var btn = [];
		btn.push('<a href="javascript:;" onclick="messageMessageModule.detail('+row['type']+', '+row['link']+')">查看</a>');
		return btn;
	},

	//查看
	detail: function(type, id){
		if(type == 1){
			if(typeof(id) !== 'number'){
				$.app.method.tip('提示信息', '未选择客户', 'error');
				return false;
			}
			var href = '<{:U('Member/memberDetail')}>';
			href += href.indexOf('?') != -1 ? '&id='+id : '?id='+id;
			var that = this;
			$(that.dialog).dialog({
				title: '客户详情',
				iconCls: 'icons-application-application_edit',
				width: 500,
				height: 350,
				cache: false,
				href: href,
				modal: true,
				collapsible: false,
				minimizable: false,
				resizable: false,
				maximizable: false,
				buttons:[{
					text:'确定',
					iconCls:'icons-arrow-cross',
					handler: function(){
						$(that.dialog).dialog('close');
					}
				}]
			});
		} else if(type == 2){
			if(typeof(id) !== 'number'){
				$.app.method.tip('提示信息', '未选择合同', 'error');
				return false;
			}
			var href = '<{:U('Contract/contractDetail')}>';
			href += href.indexOf('?') != -1 ? '&id='+id : '?id='+id;
			var that = this;
			$(that.dialog).dialog({
				title: '合同详情',
				iconCls: 'icons-application-application_edit',
				width: 700,
				height: 500,
				cache: false,
				href: href,
				modal: true,
				collapsible: false,
				minimizable: false,
				resizable: false,
				maximizable: false,
				buttons:[{
					text:'设为已付款',
					iconCls:'icons-other-tick',
					handler: function(){
						if(confirm('确定要设为已付款吗？')){
							$.messager.progress({text:'处理中，请稍候...'});
							$.post('<{:U('Contract/contractpay')}>', {id : id}, function(res){
								$.messager.progress('close');
								if(!res.status){
									$.app.method.tip('提示信息', res.info, 'error');
								}else{
									$.app.method.tip('提示信息', res.info, 'info');
									$(that.dialog).dialog('close');
									that.refresh();
								}
							})
						}
					}
				}, {
					text:'关闭',
					iconCls:'icons-arrow-cross',
					handler: function(){
						$(that.dialog).dialog('close');
					}
				}]
			});
		}
	},

};
</script>