<taglib name="Admin\TagLib\EasyUI" />

<easyui:datagrid options="datagrid.options" fields="datagrid.fields" />
<script>
$(function(){
	$('#charger').combobox({
		valueField: 'id',
		textField: 'text',
		url: '<{:U('Admin/public_selectadmin')}>'
	});

	$('#search-key').change(function(){
		$('#search-val').prop('name', 'search['+$(this).val()+']');
	})
})
	
</script>
<div id="member-member-datagrid-toolbar" style="padding:1px;height:auto">
	<form style="border-bottom:1px solid #ddd;margin-bottom:1px;padding:5px">
		添加时间: <input name="search[begin]" class="easyui-datebox" style="width:100px">
		至: <input name="search[end]" class="easyui-datebox" style="width:100px">
		负责人:
		<input type="text" id="charger" class="easyui-combobox" name="search[user]">
		地区:
		<input class="easyui-combotree" data-options="url:'<{:U('Admin/public_areaSelectTree')}>'" name="search[department]" style="width:200px;"/><br><br>
		搜索项:
		<select id="search-key" style="width:100px;padding:2px">
			<option value=""></option>
			<option value="name">姓名</option>
			<option value="tel">电话</option>
			<option value="idcard">身份证</option>
		</select>
		搜索值:
		<input type="text" id="search-val" style="width:100px;padding:2px"/>
		<a href="javascript:;" onclick="memberMemberModule.search(this)" class="easyui-linkbutton" iconCls="icons-table-table">搜索</a>
	</form>
	<div>
		<a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-table-table_add'" onclick="memberMemberModule.add()">添加客户</a>
		<a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-table-table_refresh'" onclick="memberMemberModule.refresh()">刷新</a>
	</div>
</div>

<script type="text/javascript">
var memberMemberModule = {
	dialog:   '#globel-dialog-div',
	datagrid: '#member_memberlist_datagrid',

	
	//操作格式化
	operate: function(val){
		var btn = [];
		btn.push('<a href="javascript:;" onclick="memberMemberModule.detail('+val+')">详情</a>');
		btn.push('<a href="javascript:;" onclick="memberMemberModule.edit('+val+')">编辑</a>');
		btn.push('<a href="javascript:;" onclick="memberMemberModule.delete('+val+')">删除</a>');
		return btn.join(' | ');
	},
	
	//刷新
	refresh: function(){
		$(this.datagrid).datagrid('reload');
	},

	//搜索
	search: function(that){
		var queryParams = $(this.datagrid).datagrid('options').queryParams;
		$.each($(that).parent('form').serializeArray(), function() {
			queryParams[this['name']] = this['value'];
		});
		$(this.datagrid).datagrid({pageNumber: 1});
	},

	//合同数量格式化
	contract: function(val, row){
		return '<a href="javascript:;" onclick="memberMemberModule.showContract('+row['memberid']+')">'+val+'件</a>';
	},

	//打开客户合同页面
	showContract: function(id){
		$('#pagetabs').tabs('add',{title: '合同列表', href: '<{:U('Contract/contractlist')}>?menuid=83&memberid='+id, closable: true});
	},

	//详情
	detail: function(id){
		if(typeof(id) !== 'number'){
			$.app.method.tip('提示信息', '未选择客户', 'error');
			return false;
		}
		var href = '<{:U('Member/memberDetail')}>';
		href += href.indexOf('?') != -1 ? '&id='+id : '?id='+id;
		var that = this;
		$(that.dialog).dialog({
			title: '客户详情',
			iconCls: 'icons-application-application_edit',
			width: 500,
			height: 350,
			cache: false,
			href: href,
			modal: true,
			collapsible: false,
			minimizable: false,
			resizable: false,
			maximizable: false,
			buttons:[{
				text:'确定',
				iconCls:'icons-arrow-cross',
				handler: function(){
					$(that.dialog).dialog('close');
				}
			}]
		});
	},
	
	//添加
	add: function(){
		var that = this;
		$(that.dialog).dialog({
			title: '添加客户',
			iconCls: 'icons-application-application_add',
			width: 500,
			height: 400,
			cache: false,
			href: '<{:U('Member/memberAdd')}>',
			modal: true,
			collapsible: false,
			minimizable: false,
			resizable: false,
			maximizable: false,
			buttons:[{
				text:'确定',
				iconCls:'icons-other-tick',
				handler: function(){
					$(that.dialog).find('form').eq(0).form('submit', {
						onSubmit: function(){
							var isValid = $(this).form('validate');
							if (!isValid) return false;
							
							$.messager.progress({text:'处理中，请稍候...'});
							$.post('<{:U('Member/memberAdd?dosubmit=1')}>', $(this).serialize(), function(res){
								$.messager.progress('close');
								
								if(!res.status){
									$.app.method.tip('提示信息', res.info, 'error');
								}else{
									$.app.method.tip('提示信息', res.info, 'info');
									$(that.dialog).dialog('close');
									that.refresh();
								}
							}, 'json');
							
							return false;
						}
					});
				}
			},{
				text:'取消',
				iconCls:'icons-arrow-cross',
				handler: function(){
					$(that.dialog).dialog('close');
				}
			}]
		});
	},
	
	//编辑
	edit: function(id){
		if(typeof(id) !== 'number'){
			$.app.method.tip('提示信息', '未选择客户', 'error');
			return false;
		}
		var href = '<{:U('Member/memberEdit')}>';
		href += href.indexOf('?') != -1 ? '&id='+id : '?id='+id;
		
		var that = this;
		$(that.dialog).dialog({
			title: '编辑客户',
			iconCls: 'icons-application-application_edit',
			width: 500,
			height: 400,
			cache: false,
			href: href,
			modal: true,
			collapsible: false,
			minimizable: false,
			resizable: false,
			maximizable: false,
			buttons:[{
				text:'确定',
				iconCls:'icons-other-tick',
				handler: function(){
					$(that.dialog).find('form').eq(0).form('submit', {
						onSubmit: function(){
							var isValid = $(this).form('validate');
							if (!isValid) return false;
							
							var action = '<{:U('Member/memberEdit?dosubmit=1')}>';
							action += action.indexOf('?') != -1 ? '&id='+id : '?id='+id;
							
							$.messager.progress({text:'处理中，请稍候...'});
							$.post(action, $(this).serialize(), function(res){
								$.messager.progress('close');
								
								if(!res.status){
									$.app.method.tip('提示信息', res.info, 'error');
								}else{
									$.app.method.tip('提示信息', res.info, 'info');
									$(that.dialog).dialog('close');
									that.refresh();
								}
							}, 'json');
							
							return false;
						}
					});
				}
			},{
				text:'取消',
				iconCls:'icons-arrow-cross',
				handler: function(){
					$(that.dialog).dialog('close');
				}
			}]
		});
	},
	
	//删除
	delete: function(id){
		if(typeof(id) !== 'number'){
			$.app.method.tip('提示信息', '未选择客户', 'error');
			return false;
		}
		var that = this;
		$.messager.confirm('提示信息', '确定要删除吗？', function(result){
			if(!result) return false;
			
			$.messager.progress({text:'处理中，请稍候...'});
			$.post('<{:U('Member/memberDelete')}>', {id: id}, function(res){
				$.messager.progress('close');
				
				if(!res.status){
					$.app.method.tip('提示信息', res.info, 'error');
				}else{
					$.app.method.tip('提示信息', res.info, 'info');
					that.refresh();
				}
			}, 'json');
		});
	},
	
	
};
</script>